/*全局布置*/
*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
ol,ul{
	list-style: none;
}
.wraper{
	width: 80%;
	margin: 100px auto;
}
/*正标题和副标题*/
h1,#tit{
	text-align: center;
}
#tit{
	word-spacing: 10px;
	letter-spacing: 5px;
	font-weight: bold;
	margin-top: 20px;
}
/*导航*/
#tab li{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bolder;
	float: left;
	background: #ccc;
	margin-right: 5px;
	border-radius: 10px 10px 0px 0px;
}
#tab li img{
	height: 30px;
	width: 30px;
	vertical-align: middle;
	display: none;
}
#tab li:hover img,#tab li:hover{
	display: inline-block;
	background: #fff;
}
/* li:nth-child(1){
	background-image: url('./img/clock.jpg');
}
li:nth-child(2){
	background-image: url('./img/cold.jpg');
}
li:nth-child(3){
	background-image: url('./img/calendar.jpg');
}
li:nth-child(4){
	background-image: url('./img/graphic.jpg');
}
li:nth-child(5){
	background-image: url('./img/bubble.jpg');
} */
