*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
body{
	background: #000;
}
img{
	border: 0;
}
#container{
	margin: 100px auto;
	color: #fff;
	height: 300px;
	width: 500px;
}
#prompt li{
	float: left;
	margin-right: 20px;
}
.prompt_p{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid #4b4b4b;
	background-size: cover;
	background-position: -30px 0px;
	background-color: rgba(0,0,0,0.5);
	/*opacity: 0.8;
	filter: alpha(opacity=80);*/
}
.prompt1{
	background-image: url('./2.jpg');
}
.prompt2{
	background-image: url('./5.jpg');
}
.prompt3{
	background-image: url('./6.jpg');
}
